#addbus_bg{
    height: 640px;
    width: 100%;
    position: relative;
    bottom: 18px;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
}


#addpara {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    bottom: 600px;
    text-align: center;
    color: white; 

}

body {
    background-position: center;
 }
 
 .addbus1-card {
    position: relative;
    right: 280px;
    backdrop-filter: blur(5px) saturate(150%);
   -webkit-backdrop-filter: blur(5px) saturate(150%);
    background-color: rgba(74, 74, 74, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
 }

 .addbus2-card {
    position: relative;
    left: 200px;
    bottom: 385px;
    height: 335px;
    backdrop-filter: blur(5px) saturate(150%);
    -webkit-backdrop-filter: blur(5px) saturate(150%);
    background-color: rgba(74, 74, 74, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.navbar {
    position: relative;
    z-index: 10;
}
