
.bus-container {
    width: 80%;
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;     
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    right: 300px;
    top:150px;
    height: 500px;
}

#btn1{
  height: 40px;
  width: 40px;
  border-radius: 8%;
  margin-top: 10px;
  margin-left: 20px;
}


.login-container{
    max-width: 500px;
    height:400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    left:380px;
    bottom: 300px ;
}

.form{
    padding: 30px;
}

@media (max-width: 500px) {

    .sb{
        height: 900px;
    }

    .bus-container {
      padding: 10px;
      position: relative;
      left: 10px;
      top: 30px;
    }
    
    .login-container {
      width: 80%;
      height: 330px;
      padding: 10px;
      position: relative;
      top: 50px;
      left: 5px;
    }
  
    .form-control {
      width: 100%;
      font-size: 14px;
    }
  
    .btn {
      font-size: 14px;
      padding: 10px;
    }
  }
  
