
.bus-container {
    width: 80%;
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;     
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    right: 300px;
    top:150px;
    height: 500px;
}

.deck {
    height: 170px;
    margin-bottom: 20px;
    padding: 10px;
    background: #f2f2f2;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.seat-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.seat-row {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.seat {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #999;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seat_btn{
    border-radius: 6px;
    height: 35px;
    width: 60px;
}



.login-container{
    max-width: 500px;
    height:400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    left:380px;
    bottom: 300px ;
}

.form{
    padding: 30px;
}

@media (max-width: 500px) {

    .sb{
        height: 900px;
    }

    .bus-container {
      padding: 10px;
      position: relative;
      left: 10px;
      top: 30px;
    }
  
    .seat-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 5px;
    }
  
    .seat-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 5px;
    }
  
    .seat_btn {
      width: 35px;
      height: 35px;
      font-size: 12px;
    }
    
    .login-container {
      width: 80%;
      height: 330px;
      padding: 10px;
      position: relative;
      top: 50px;
      left: 5px;
    }
  
    .form-control {
      width: 100%;
      font-size: 14px;
    }
  
    .btn {
      font-size: 14px;
      padding: 10px;
    }
  }
  
